*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-block-size: 100dvb;
  min-block-size: 100vh;
  
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--main-text-color);
  
  font-variation-settings: "wght" var(--main-weight);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.page-wrapper {
  max-width: var(--section-max-width);
  margin: 0 auto;
}