:root {
 
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', cursive;


  --main-weight: 400; 
  --title-weight: 800; 

 
  --bg-color: #ffffff;
  --card-bg-color: #ffffff;
  --accent-color: #ff24af; 
  --contour-color: #000000;
  --main-text-color: #000000;
  --secondary-text-color: rgba(0, 0, 0, 0.7); 
  --button-hover-color: #000000;
  --focus-color: #ff24af;
  --text-stroke-color: #000000; 
  --heart-animation-color: red; 
  --background-pattern-color: #d3d3d3; 

  --header-padding: clamp(20px, 4vw, 40px);
  --section-max-width: 1000px;
  --card-gap: 2rem;
}
